<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue - Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <accordion v-for="item in items" :key="item.id" :item="item"></accordion>
    </div>


    <script>

        Vue.component('accordion', {
            props: ['item'],

            template: `
                <div>
                    <h4>{{ item.title }}</h4>
                    <a href="#" @click="toggle = !toggle">Details</a>
                    <p v-if="toggle">{{ item.description}}</p>
                </div>
            `,

            data: function () {
                return {
                    toggle: false,
                }
            }
        });

       var vue = new Vue({
            el: '#app',
            data: {
                items: [
                    {id:1, title: 'Title 1', description: 'Description for Title 1.'},
                    {id:2, title: 'Title 2', description: 'Description for Title 2.'},
                    {id:3, title: 'Title 3', description: 'Description for Title 3.'},
                ],
            }
        });
    </script>


</body>
</html>